<html>
 <head>
  <title>Tworzenie albumu</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <link rel="icon" href="https://www.google.com/photos/about/static/images/picasa/picasa-logo-159.png" type="image/x-icon">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="/dropzone"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  </head>
 <body>
  <div class="container">
  <div class="jumbotron" style="background-image: url(https://pixabay.com/static/uploads/photo/2014/03/23/00/56/the-background-293037_960_720.png); background-size: 100%;">
  <center><h1>Tworzenie albumu</h1></center>
  </div>
  <div class="dropzone" id="dropzoneForm">
  </div>
  <form class="requestAlbumForm" action="{{url_for('request_album_creation')}}" method="POST"></br>
     Podaj email:<input class="form-control" name="email" type="text"/></br>
     <button type="submit" class="btn btn-primary btn-block">Utwórz Album</button>
  </form>
  <script type="text/javascript">
   var createInput = function(count, path) {
       	 var input = '<input type="hidden" class="photo" name="photos___number__" value="__value__"/>"'
         input = input.replace('__number__', count);
         input = input.replace('__value__',  path);
         console.log(input)

       	 return	input;
       }
   $(".dropzone").dropzone({
     maxFiles: 500,
     url: "{{ url_for('upload') }}",
     success: function(file, response){
       console.log(response);
       var photosCount = $('.requestAlbumForm input.photo').length;
       
       response.photos.forEach(function(photo){
        input = createInput(photosCount, photo)
        $('.requestAlbumForm').append($(input));
       });
       
     }
   });
  </script>
  </div>
 </body>
</html>
